<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/CS320_Lab03/main/edu/ycp/cs320/lab03/main/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.ycp.cs320.lab03.main.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="CS320_Lab03"/>
</launchConfiguration>
